
.title{
  text-align: center;
  color:rgb(31, 31, 151);
  font-size: 4rem;
}
.centre{
  text-align: center;
 padding-left: 3%;
 
 color: violet;
}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
button{
margin-left:1%;
font-size: 40px;
padding: 2%;
background-color:#008CBA;
cursor: pointer;
border-radius: 50%;
color: white;
}
.zero{
  font-size: 100px;
  
}